In [1]:
import sqlite3 as sql

In [8]:
def connect(name):
    return sql.connect(name)

In [9]:
conn = connect('sis.db')

In [12]:
def create_command(table_name, columns):
    string = 'CREATE TABLE "' +\
    str(table_name) +\
    '" (' + str(columns) + ')'
    return string

In [13]:
create_command('blta', 'lol')

'CREATE TABLE "blta" (lol)'