In [92]:
import pymysql as mysql

server = "sql7.freemysqlhosting.net"
user = "sql7271447"
password = "hi7DSvMiPz"
database = "sql7271447"

In [93]:
db = mysql.connect(server, user, password, database)

cursor = db.cursor()

cursor.execute("SELECT VERSION()")

print ("Database version : {0}".format(cursor.fetchone()))

db.close()

Database version : ('5.5.58-0ubuntu0.14.04.1',)

In [94]:
CreateQuery = "CREATE TABLE {} ({}, {}, {}, {}, {})"

Users = ['Users',
         'id integer PRIMARY KEY AUTO_INCREMENT',
         'Username nvarchar(100) NOT NULL',
         'Mail nvarchar(50)',
         'Joined date',
         'Gender nvarchar(50)',
         'Location nvarchar(100)',
         'Info nvarchar(500)']

Films = ['Films',
         'id integer PRIMARY KEY AUTO_INCREMENT',
         'Title nvarchar(100) NOT NULL',
         'Episodes integer NOT NULL',
         'Type  nvarchar(50) NOT NULL',
         'Status  nvarchar(50) NOT NULL',
         'Studios nvarchar(100) NOT NULL',
         'Genres nvarchar(50) NOT NULL',
         'Duration integer NOT NULL',
         'Rating nvarchar(50) NOT NULL',
         'Synonyms nvarchar(1500)']

TUConnection = ['TUConnection',
                'id integer PRIMARY KEY AUTO_INCREMENT',
                'User_id integer NOT NULL',
                'Film_id integer NOT NULL',
                'Episodes integer DEFAULT 0',
                'Score integer',
                'Status nvarchar(50) DEFAULT "Watching"']

Reviews = ['Reviews',
           'id integer PRIMARY KEY AUTO_INCREMENT',
           'User_id integer NOT NULL',
           'Film_id integer NOT NULL',
           'Text nvarchar(1000) NOT NULL']

In [95]:
def Creation(cursor, items): 
    
    CreateQuery = 'CREATE TABLE {} (' + ('{}, ' * (len(items) - 1)).strip(', ') + ')'
    
    if len(items) == 8:
        cursor.execute(CreateQuery.format(items[0],
                                          items[1],
                                          items[2],
                                          items[3],
                                          items[4],
                                          items[5],
                                          items[6],
                                          items[7]))
    elif len(items) == 5:
        cursor.execute(CreateQuery.format(items[0],
                                          items[1],
                                          items[2],
                                          items[3],
                                          items[4]))
    
    elif len(items) == 7:
        cursor.execute(CreateQuery.format(items[0],
                                          items[1],
                                          items[2],
                                          items[3],
                                          items[4],
                                          items[5],
                                          items[6]))
    elif len(items) == 11:
        cursor.execute(CreateQuery.format(items[0],
                                          items[1],
                                          items[2],
                                          items[3],
                                          items[4],
                                          items[5],
                                          items[6],
                                          items[7],
                                          items[8],
                                          items[9],
                                          items[10]))

In [96]:
db = mysql.connect(server, user, password, database)

cursor = db.cursor()

for item in [Users, Films, Reviews, TUConnection]:
    try:
        Creation(cursor, item)
    except Exception:   # There is 'InternalError' so...
        cursor.execute('DROP TABLE {}'.format(item[0]))
        Creation(cursor, item)

db.close()

In [97]:
db = mysql.connect(server, user, password, database)

cursor = db.cursor()

cursor.execute('show tables')

try:
    for table in cursor.fetchall():
        print('Table {} detected'.format(table[0]))
except IndexError:
    print('There is no table in DataBase')

db.close()

Table Films detected
Table Reviews detected
Table TUConnection detected
Table Users detected

In [100]:
db = mysql.connect(server, user, password, database)

cursor = db.cursor()

cursor.execute('DELETE FROM TUConnection')
db.commit()
db.close()